---
# .github/workflows/amplify.yml
name: Amplify Security
on:
  pull_request: {}
  workflow_dispatch: {}
  push:
    branches: ["master", "main"]

permissions:
  contents: read
  id-token: write

jobs:
  amplify-security-scan:
    runs-on: ubuntu-latest
    if: (github.actor != 'dependabot[bot]')
    steps:
      - uses: actions/checkout@v4
      - name: Run Amplify Security Scan (Lab)
        uses: amplify-security/runner-action@develop
        with:
          amplify-endpoint: https://api.lab.amplify.security
